<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.domain.salary.SalaryStandEle">
<resultMap id="salaryStandEleMapper"  type="com.app.domain.salary.SalaryStandEle">
    	<id  property="eleid" column="eleid"  javaType="long" jdbcType="NUMERIC"/>
        <result property="elename" column="elename"  javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="fixedcode" column="fixedcode"  javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="isshow" column="isshow"  javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result  property="cptype" column="cptype"  javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result  property="precisions" column="precisions"  javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result  property="createby" column="createby"  javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result  property="updateby" column="updateby"  javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result  property="createtime" column="createtime"  javaType="java.util.Date" jdbcType="DATE"/> 
        <result  property="updatetime" column="updatetime"  javaType="java.util.Date" jdbcType="DATE"/>        
    </resultMap>
    
  
	<!-- 根据id查找信息 -->
  <select id="findStandEleByEleid" parameterType="Long" resultType="com.app.domain.salary.SalaryStandEle">
  	<![CDATA[
  	 SELECT * FROM sa_stand WHERE eleid=#{eleid}
  	]]>
  </select>
  <!-- 根据name查找信息 -->
  <select id="findStandEleByElename" parameterType="java.lang.String" resultType="com.app.domain.salary.SalaryStandEle">
  	<![CDATA[
  	 SELECT * FROM sa_stand WHERE elename=#{elename}
  	]]>
  </select>
  <select id="findallStandEle" resultType="com.app.domain.salary.SalaryStandEle">
  	<![CDATA[
  	 SELECT * FROM sa_stand 
  	]]>
  </select>
</mapper>